{:source-paths ["src/main" "test"]

 :dependencies []

 :dev-http {8080 {:root "public"}
            9000 {:root "public"}}

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :closure-defines {map-ukv.core/API-URL "http://localhost:3000"}
   :modules {:main {:init-fn map-ukv.core/init}}
   :release {:closure-defines {map-ukv.core/API-URL ""}}}

  :test
  {:target :browser
   :output-dir "public/test"
   :asset-path "/test"
   :modules {:main {:init-fn map-ukv.test-runner/init}}}}}
